.padding10 {
    padding: 10px;
}

@font-face {
    font-family: main_font;
    src: url('/style/Canterbury.ttf');
}

.mcn-font {
    font-family: main_font;
}

.font32 {
    font-size: 32px;
}

.paddingT7 {
    padding-top: 7px;
}

.pointerClass {
    cursor: pointer;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.no-right-padding {
    padding-right: 0px;
}

.no-padding-left {
    padding-left: 0px;
}

.full-width {
    width: 100%;
}

.clean-a{
    text-decoration: none;
}

.white{
    color:white;
}

.font22{
    font-size:22px;
}

.font15{
    font-size:15px;
}

.paddingleft10{
    padding-left:10px;
}